<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="search" href="/tabs/search" selected>
      <ion-label>Recherche</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="watched" href="/tabs/watched">
      <ion-label>Vues</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="watchlist" href="/tabs/watchlist">
      <ion-label>À voir</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feed" href="/tabs/feed">
      <ion-label>Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
